{% extends "CodeGym/layout.html" %}

{% block body %}
<body>

    {% if user.is_authenticated %}
    <div class="description-container">
        <strong>{{ title }}</strong><br>
        description: <br>
        {{ description }}<br>
        prompt: <br>
        {{ prompt }}<br>
        example: <br>
        {{ example }}<br>
        <form id="coding", method="post">
            {% csrf_token %}
            <textarea id="console_in"></textarea><br>
            <button id="runBtn", type="submit">Run</button><br>
            <textarea id="console_out"></textarea>
        </form>
    </div>
    {% endif %}

</body>

{% endblock %}