{% extends "network/layout.html" %}

{% block body %}
<body>
<div class="form-container">
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <label for="message">New Post</label><br>
        <textarea id="message" name="message" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Post">
    </form>
</div>

{% for username, post_id, text, date, like, userlike in page_obj%}
<div class="form-container">
       <div class="user"> 
        {% if user.username == username %}
        <button id="editButton" data-post-id="{{ post_id }}">
            edit
        </button>
        <form id="editForm">
            {% csrf_token %}
            <textarea id="editTextarea" name="editTextarea" style="display: none;"></textarea>
            <button id="saveButton" type="submit" style="display: none;">save</button>
        </form>    
        {% endif %}
        <a class="nav-link" href="{% url 'user' username %}"><strong>{{ username }}</strong></a>
       </div> 
       <div class="text"> {{ text }} </div> 
        <div class="date"> {{ date }} </div> 
        <div class="like"> {{ like }} </div> 
        <button id="likeButton">
            {{ userlike }}
        </button>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</body>

{% endblock %}